In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
train_df = pd.read_csv(Path('Resources/Generator/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/Generator/2020Q1loans.csv'))

In [3]:
train_df.head(10)

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,target
0,7000.0,0.1894,256.38,MORTGAGE,75000.0,Not Verified,n,28.62,0.0,2.0,...,87.5,0.0,0.0,352260.0,62666.0,35000.0,10000.0,N,N,low_risk
1,40000.0,0.1614,975.71,MORTGAGE,102000.0,Source Verified,n,11.72,2.0,0.0,...,0.0,0.0,0.0,294664.0,109911.0,9000.0,71044.0,N,N,low_risk
2,11000.0,0.2055,294.81,RENT,45000.0,Verified,n,37.25,1.0,3.0,...,7.7,0.0,0.0,92228.0,36007.0,33000.0,46328.0,N,N,low_risk
3,4000.0,0.1612,140.87,MORTGAGE,38000.0,Not Verified,n,42.89,1.0,0.0,...,100.0,0.0,0.0,284273.0,52236.0,13500.0,52017.0,N,N,low_risk
4,14000.0,0.1797,505.93,MORTGAGE,43000.0,Source Verified,n,22.16,1.0,0.0,...,25.0,0.0,0.0,120280.0,88147.0,33300.0,78680.0,N,N,low_risk
5,6000.0,0.0756,186.81,MORTGAGE,90500.0,Source Verified,n,23.48,0.0,0.0,...,0.0,0.0,0.0,88500.0,44170.0,24000.0,57000.0,N,N,low_risk
6,10500.0,0.2250,293.00,RENT,32000.0,Verified,n,16.09,0.0,1.0,...,0.0,0.0,0.0,22581.0,10228.0,10700.0,9481.0,N,N,low_risk
7,22000.0,0.0819,448.09,MORTGAGE,92000.0,Source Verified,n,22.87,0.0,0.0,...,66.7,0.0,0.0,390661.0,169942.0,27100.0,143033.0,N,N,low_risk
8,10625.0,0.2055,284.76,RENT,54100.0,Source Verified,n,15.53,0.0,2.0,...,25.0,0.0,0.0,35620.0,18590.0,16000.0,17620.0,N,N,low_risk
9,20000.0,0.2534,591.02,OWN,38000.0,Source Verified,n,19.68,0.0,0.0,...,66.7,0.0,0.0,32064.0,27811.0,23400.0,8664.0,N,N,low_risk

In [6]:
train_df.target.value_counts()

low_risk     6090
high_risk    6090
Name: target, dtype: int64

In [7]:
# Convert categorical data to numeric and separate target feature for training data

In [8]:
# Convert categorical data to numeric
train_df = pd.get_dummies(train_df, columns=['home_ownership','verification_status','pymnt_plan','initial_list_status','application_type','hardship_flag', 'debt_settlement_flag','target'])
train_df

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y,target_high_risk,target_low_risk
0,7000.0,0.1894,256.38,75000.0,28.62,0.0,2.0,20.0,0.0,40414.0,...,1,0,1,0,1,0,1,0,0,1
1,40000.0,0.1614,975.71,102000.0,11.72,2.0,0.0,10.0,0.0,43531.0,...,0,1,1,0,1,0,1,0,0,1
2,11000.0,0.2055,294.81,45000.0,37.25,1.0,3.0,23.0,0.0,8242.0,...,0,1,1,0,1,0,1,0,0,1
3,4000.0,0.1612,140.87,38000.0,42.89,1.0,0.0,7.0,0.0,12767.0,...,0,1,0,1,1,0,1,0,0,1
4,14000.0,0.1797,505.93,43000.0,22.16,1.0,0.0,22.0,0.0,11182.0,...,0,1,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,19975.0,0.2565,801.09,28000.0,28.42,0.0,0.0,15.0,0.0,9679.0,...,0,1,1,0,1,0,1,0,1,0
12176,15000.0,0.1774,540.34,50000.0,23.43,4.0,0.0,16.0,0.0,3193.0,...,0,1,1,0,1,0,1,0,1,0
12177,3600.0,0.1862,131.28,60000.0,28.80,0.0,1.0,14.0,0.0,11804.0,...,0,1,1,0,1,0,1,0,1,0
12178,15000.0,0.0881,475.68,62000.0,11.44,0.0,0.0,5.0,0.0,157.0,...,0,1,0,1,1,0,1,0,1,0
12179,15000.0,0.1774,540.34,54080.0,21.66,1.0,1.0,5.0,0.0,8349.0,...,1,0,1,0,1,0,1,0,1,0

In [9]:
 # List dataframe data types
train_df.dtypes

loan_amnt                 float64
int_rate                  float64
installment               float64
annual_inc                float64
dti                       float64
                           ...
hardship_flag_Y             uint8
debt_settlement_flag_N      uint8
debt_settlement_flag_Y      uint8
target_high_risk            uint8
target_low_risk             uint8
Length: 94, dtype: object

In [10]:
# train_df.to_csv('trainloans.csv', index=False)

In [11]:
# separate target feature for training data
X = train_df.drop(['target_high_risk'], axis=1)
y = train_df['target_high_risk']

In [12]:
 # Convert categorical data to numeric and separate target feature for testing data

In [13]:
test_df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,target
0,40000.0,0.1033,856.40,RENT,128700.0,Source Verified,n,12.47,0.0,1.0,...,57.1,0.0,0.0,63915.0,49510.0,49400.0,14515.0,Y,N,low_risk
1,24450.0,0.1430,572.72,MORTGAGE,44574.0,Not Verified,n,15.05,0.0,1.0,...,0.0,0.0,0.0,136425.0,19439.0,15500.0,18925.0,N,N,low_risk
2,13500.0,0.1430,316.23,OWN,60000.0,Not Verified,n,28.72,0.0,0.0,...,0.0,0.0,0.0,82124.0,65000.0,5400.0,61724.0,Y,N,low_risk
3,10625.0,0.1774,268.31,RENT,60000.0,Verified,n,15.70,0.0,4.0,...,20.0,0.0,0.0,54855.0,50335.0,23200.0,26255.0,N,N,low_risk
4,6375.0,0.1862,232.46,RENT,60000.0,Source Verified,n,35.50,0.0,0.0,...,75.0,0.0,0.0,90445.0,56541.0,15300.0,72345.0,N,N,low_risk

In [14]:
# Convert categorical data to numeric
test_df = pd.get_dummies(test_df, columns=['home_ownership','verification_status','pymnt_plan','initial_list_status','application_type','hardship_flag', 'debt_settlement_flag','target'])
test_df

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,target_high_risk,target_low_risk
0,40000.0,0.1033,856.40,128700.0,12.47,0.0,1.0,8.0,0.0,38113.0,...,1,0,1,1,0,0,1,1,0,1
1,24450.0,0.1430,572.72,44574.0,15.05,0.0,1.0,6.0,0.0,1665.0,...,1,0,1,1,0,1,0,1,0,1
2,13500.0,0.1430,316.23,60000.0,28.72,0.0,0.0,8.0,0.0,13857.0,...,1,0,1,1,0,0,1,1,0,1
3,10625.0,0.1774,268.31,60000.0,15.70,0.0,4.0,17.0,0.0,6216.0,...,1,0,1,1,0,1,0,1,0,1
4,6375.0,0.1862,232.46,60000.0,35.50,0.0,0.0,13.0,0.0,12681.0,...,1,0,1,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,30000.0,0.1240,673.42,140480.0,15.74,0.0,0.0,20.0,0.0,23215.0,...,1,1,0,1,0,1,0,1,1,0
4698,24000.0,0.0756,747.22,50000.0,26.81,0.0,0.0,9.0,0.0,459.0,...,1,0,1,1,0,1,0,1,1,0
4699,10000.0,0.2305,387.36,33000.0,38.51,0.0,2.0,7.0,0.0,6342.0,...,1,1,0,1,0,1,0,1,1,0
4700,8000.0,0.1862,205.86,38000.0,16.36,0.0,1.0,8.0,1.0,11636.0,...,1,0,1,1,0,1,0,1,1,0
4701,30000.0,0.2055,1123.34,180000.0,12.06,0.0,0.0,8.0,0.0,4771.0,...,1,1,0,1,0,1,0,1,1,0

In [15]:
test_df.dtypes

loan_amnt                 float64
int_rate                  float64
installment               float64
annual_inc                float64
dti                       float64
                           ...
hardship_flag_N             uint8
hardship_flag_Y             uint8
debt_settlement_flag_N      uint8
target_high_risk            uint8
target_low_risk             uint8
Length: 93, dtype: object

In [16]:
# test_df.to_csv('testloans.csv', index=False)

I believe Random Forest Classifier will work better because we are predicting whether a loan will become high risk or not and not a sliding scale. Plus I read that Logistical models like less noise - which I assume with 94 columns, their is a lot of noise in this data set.

In [17]:
# separate target feature for training data
X = test_df.drop(['target_high_risk'], axis=1)
y = test_df['target_high_risk']

In [18]:
# add missing dummy variables to testing set

test_df.insert(88, 'debt_settlement_flag_Y', '0')

In [19]:
test_df.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,debt_settlement_flag_Y,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,target_high_risk,target_low_risk
0,40000.0,0.1033,856.40,128700.0,12.47,0.0,1.0,8.0,0.0,38113.0,...,0,1,1,0,0,0,1,1,0,1
1,24450.0,0.1430,572.72,44574.0,15.05,0.0,1.0,6.0,0.0,1665.0,...,0,1,1,0,0,1,0,1,0,1
2,13500.0,0.1430,316.23,60000.0,28.72,0.0,0.0,8.0,0.0,13857.0,...,0,1,1,0,0,0,1,1,0,1
3,10625.0,0.1774,268.31,60000.0,15.70,0.0,4.0,17.0,0.0,6216.0,...,0,1,1,0,0,1,0,1,0,1
4,6375.0,0.1862,232.46,60000.0,35.50,0.0,0.0,13.0,0.0,12681.0,...,0,1,1,0,0,1,0,1,0,1

In [20]:
X_train = train_df.drop (columns = ['target_high_risk','target_low_risk'])
y_train = train_df['target_high_risk']
y_train.value_counts()

0    6090
1    6090
Name: target_high_risk, dtype: int64

In [27]:
X_test = test_df.drop (columns = ['target_high_risk','target_low_risk'])
y_test = test_df['target_high_risk']
y_test.value_counts()

0    2351
1    2351
Name: target_high_risk, dtype: int64

In [55]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=1, max_iter=10000)
classifier

LogisticRegression(max_iter=10000, random_state=1)

In [56]:
classifier.fit(X_train, y_train)
classifier.score(X_test,y_test)

0.5652913653764355

In [57]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 1.0
Testing Score: 0.5829434283283709

In [58]:
# Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [62]:
# Train the Logistic Regression model on the scaled data and print the model score
classifier_scaled = LogisticRegression(random_state=1, max_iter = 10000)
classifier_scaled

LogisticRegression(max_iter=10000, random_state=1)

In [63]:
classifier_scaled.fit(X_train_scaled, y_train)
classifier_scaled.score(X_test_scaled,y_test)

0.5370055295618885

In [64]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 1.0
Testing Score: 0.582092726499362